
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 30px 0;
    font-size: 24px;
    font-weight: 700;
    color: #1f2933; /* gris oscuro pro */
    letter-spacing: 0.5px;
}

.titulo img {
    width: 60px;   /* acá reducís el tamaño del logo */
    height: auto;
}

.titulo small {
    font-size: 14px;
    font-weight: 400;
    color: #6b7280;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
h2 {
    text-overflow: inherit;
    vertical-align: middle; /* Alinea la foto con el texto de al lado */

}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #e5e7eb; /* borde exterior sutil */
    border-radius: 8px;        /* esquinas redondeadas */
    box-shadow: 0 1px 2px rgba(0,0,0,0.03);
}

th, td { 
    border: 0; /* quitar bordes verticales */
    border-bottom: 1px solid #e5e7eb; /* solo línea inferior sutil */
    padding: 8px;
    text-align: center;
}

th {
    background-color: #fefefe;
    color:rgb(176, 173, 173);
    font-size: medium;
    border-bottom: 1px solid #d1d5db; /* encabezado con línea inferior más marcada */
}

/* filas impares */
tbody tr:nth-child(odd) {
    background-color: #f9f9f9 ;
}

.equipo {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start; /* contenido a la izquierda */
    font-weight: 600;            /* semi-negrita */
    color: #111827;              /* negro (tailwind slate-900 aprox) */
}

.equipo img {
    width:24px ;
    height: 24px;
    object-fit: contain;

}

.pos {
    font-weight: 600; /* semi-negrita */
    color: #111827;   /* negro */
    width: 20px;
    text-align: right;
}

/* Alinear la columna Club a la izquierda */
thead th:first-child { text-align: left; }
tbody th.equipo { text-align: left; }